/* General styling for buttons */
.button {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: #B0C4DE;
    -fx-text-fill: black;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #B0C4DE;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: #A0B8C8;
}

/* VBox layout styling */
.vbox-menu {
    -fx-background-color: #2F4F4F;
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.vbox-MainMenu {
  -fx-padding: 30;
     -fx-spacing: 20;
     -fx-alignment: center;
}

/* Window title */
.title-label {

    -fx-font-size: 50px;
    -fx-font-weight: bolder;
    -fx-text-fill: black;
    -fx-padding: 0 0 20 0;
    -fx-text-alignment: center;
}

.text-field {



}

.text-area {

}

.label {
  -fx-font-size: 20px;
     -fx-font-weight: bolder;
     -fx-text-fill: black;
     //-fx-padding: 0 0 20 0;
     -fx-text-alignment: center;


}

.input-field {
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-border-color: #bdc3c7; /* Light gray border */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #ecf0f1; /* Very light gray */
}

/* Login Button */
.login-button {
    -fx-background-color: #3498db; /* Blue */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;

}

.login-button:hover {
    -fx-background-color: #2980b9; /* Darker blue on hover */
}

/* Message Label Styling */
.message-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}